body {
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    

}

.img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: relative;
    z-index: -1;
}

.timer {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.669);
    border-radius: 50px;
    flex-direction: column;
    z-index: 2;
    top: 350px;

  

}
.span {
    margin: 0px;
    height: auto;
    background: transparent;
padding-right: 50px;
    border: none;
    cursor: pointer;
    --border-right: 6px;
    --text-stroke-color: rgba(25, 159, 20, 0.6);
    --animation-color: #37FF8B;
    text-decoration: none;
    font-size: 300px;
    font-family: "Arial";
    position: relative;
    color: rgba(45, 153, 41, 0.75);
    
    z-index: 2;
}



.test {
    margin: 0px;
    height: auto;
    background: transparent;
   padding-left: 50px;
    border: none;
    cursor: pointer;
    --border-right: 6px;
    --text-stroke-color: rgba(25, 159, 20, 0.6);
    --animation-color: #37FF8B;
    text-decoration: none;
    font-size: 300px;
    font-family: "Arial";
    position: relative;
    color: rgba(45, 153, 41, 0.75);
    z-index: 2;
}